

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta name="viewport" content="width=570, user-scalable=no">
		<meta charset='utf-8'>
		<title>Pac Man Lite</title>
		<script src="jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body>
		<div id='wrapper'>
			<div id='title'></div>
			<div id='content'>
			<input type="text" name="" style="color:black" value="" placeholder="Username">
			<input type="password" style="color:black"  name="" value="" placeholder="Password">
<a href="index2.html" class="btn btn-danger btn-block">GO !</a>
<p class='jerco'>PACMAN</p>
			</div>
		</div>
	</body>
</html>
